<div id="madeby">
    
  <p id="foot"> <a href="https://github.com/TechCursed"> <i class="fa-brands fa-github"></i> </a>  &nbsp;&nbsp; | &nbsp;&nbsp;  <a href="https://www.buymeacoffee.com/techcursed">  Buy me a coffee 🧋 </a></p><br><br>

</div>

</div>


</div>

</body>
</html>

  