
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title> ArtistsLikeThem </title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/2cb5615cdf.js" crossorigin="anonymous"></script>
</head>
<body>

  
<div class="container">

  <header>
    <h2>🎧 ArtistsLikeThem</h2>
    <nav>
    </nav>
  </header>
     
  <div class="cover">

    <h1>Discover artists similar to the artists you love</h1>

    

    <form action="/results" method="post" class="flex-form">
      <!-- <label for="from">
        <i class="ion-location"></i>
      </label> -->
      <input type="search" placeholder="Enter artist name to find their similar ones" name="searchInput">
      <input type="submit" value="Search">
    </form>

    <div class="imageArray">
      <img src="images/Nirvana.jpg" alt=""  id="image">
      <img src="images/adele.jpg" alt=""  id="image">
      <img src="images/pj.jpg" alt="" id="image">
      <img src="images/pinfloyd.jpg" alt=""  id="image">
    </div>

    <div class="imageArray">
      <img src="images/jm.jpg" alt=""  id="image">
      <img src="images/gnrband.jpg" alt=""  id="image">
      <img src="images/tmp.jpg" alt=""  id="image">
      <img src="images/foc.jpg" alt="" id="image">
    </div>    
    


