
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title> ArtistsLikeThem </title>
  <script src="https://kit.fontawesome.com/2cb5615cdf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles_results.css"> 
</head>
<body>

<div class="container">

  <header>
    <h2>🎧 ArtistsLikeThem</h2>
  </header>

  <body>
    


