
<%- include('partials/header.ejs')  %> 

<!-- <form action="/results" method="post">
    <input type="text" name="searchInput" id="">
    <button type="submit">Search</button>
</form>
   -->

<%- include('partials/footer.ejs')  %> 
